@use "../abstracts/" as *;

body {
    scroll-behavior: smooth;

    &.main-index {

        @include w430 {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
    }
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

br {
    content: normal;
}

img,
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

video {

    &::-webkit-media-controls-fullscreen-button,
    &::-webkit-media-controls-play-button,
    &::-webkit-media-controls-timeline,
    &::-webkit-media-controls-current-time-display,
    &::-webkit-media-controls-time-remaining-display,
    &::-webkit-media-controls-mute-button,
    &::-webkit-media-controls-volume-slider,
    &::-webkit-media-controls-fullscreen-button {
        display: none !important;
    }
}

button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    outline: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td {
    text-align: left;
    padding: 0;
}

main {
    position: relative;
}

.spinner-img {
    margin-top: 20px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid $bgwhite;
    border-radius: 50%;
    width: 4rem;
    aspect-ratio: 1;
    animation: spin 1s linear infinite;

    html[data-mode="light"] & {
        border: 4px solid rgba(0, 0, 0, 0.3);
        border-top: 4px solid $bgblack;
    }
}