$mainColor: #000;
$subColor: #fff;
$bgblack: #000;
$bgwhite: #fff;
$mainTextColor: #000;
$subTextColor: #fff;
$borderColor: #ccc;
$fontBlack: #000;
$fontWhite: #fff;
$infoButtonColor: #f00;
$boxColor: #f8f8f8;
$darkModebg: #07111e;

$maxWidth: 130rem;
$imgUrl: "../images/";
$marginInline: 5rem;
$boxShadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);

$w1920: 1920px;
$w1500: 1500px;
$w1240: 1240px;
$w768: 768px;
$w430: 430px;
