@use "./abstracts/" as *;
@use "./base/" as *;
@use "./layout/" as *;
@use "./themes/" as *;
@use "./components/" as *;

.result-page {

    .section {
        padding: 15rem 0 10rem;
        margin-inline: $marginInline;

        @include w1240 {
            margin-inline: 3rem;
        }

        @include w430 {
            padding: 15rem 0 5rem;
            margin-inline: 1.5rem
        }
    }

    .section-wrapper {
        display: flex;
        gap: 5rem;
        flex-direction: row;
        flex-wrap: wrap;
        // align-items: flex-start;
    }

    .wrapper-chkbox {
        align-self: flex-start;
        position: sticky;
        top: 5rem;
        width: 30rem;

        .chkbox-row {
            margin-bottom: 3rem;

            &:first-of-type {

                .row-contentBox {
                    height: 60rem;
                    overflow: scroll;
                }
            }

            &:last-of-type {
                margin-bottom: 0;
            }

            @include w1240 {

                &:first-of-type {

                    .row-contentBox {
                        height: 30rem;
                        overflow: scroll;
                    }
                }
            }

            @include w768 {

                &:first-of-type {

                    .row-contentBox {
                        height: 10rem;
                    }
                }
            }

            label {
                cursor: pointer;
            }
        }

        .row-title {
            text-transform: uppercase;
            margin-bottom: 1.5rem;
        }

        @include w1240 {
            width: 13rem;
        }

        @include w768 {
            position: relative;
            top: 0;
            width: 100%;
        }
    }

    .wrapper-itemcontainer {
        width: calc(100% - 35rem);

        @include w1920 {
            grid-template-columns: repeat(4, 1fr);
        }

        @include w1500 {
            grid-template-columns: repeat(3, 1fr);
        }

        @include w1240 {
            width: calc(100% - 18rem);
            gap: 3rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @include w768 {
            width: 100%;
            gap: 5rem 3rem;
        }
    }

    .itemcontainer-cardlist {
        width: 100%;
        display: grid;
        gap: 5rem;
        grid-template-columns: repeat(5, 1fr);
        align-items: flex-start;
        padding-bottom: 10rem;

        @include w1920 {
            grid-template-columns: repeat(4, 1fr);
        }

        @include w1500 {
            grid-template-columns: repeat(3, 1fr);
        }

        @include w1240 {
            gap: 3rem;
            grid-template-columns: repeat(2, 1fr);
        }

        @include w768 {
            gap: 5rem 3rem;
        }
    }

    .wrapper-errormessage {
        width: calc(100% - 35rem);  // 넓이를 안주면 컨텐츠 부분만 넓이를 먹기 때문에 flex center가 안됨!
        display: flex;
        justify-content: center;
        align-items: center;

        .item-title {
            margin-bottom: 0;
        }

        @include w1240 {
            width: calc(100% - 18rem);
        }

        @include w768 {
            width: 100%;
        }
    }
    
    .card-item {
        width: 100%;
        height: 100%;
        display: flex;
        gap: 1rem;
        flex-direction: row;
        flex-wrap: wrap;

        .result-image {
            height: 55rem;
            object-fit: cover;
            border-radius: 1rem;
        }

        .movie-text {
            font-size: 1.7rem;
            line-height: 1;
        }

        @include w768 {

            .result-image {
                height: auto;
            }
        }
    }  

    .informationBox-subList {
        display: flex;
        gap: 1.5rem;
        align-items: center;

        @include w430 {
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
    }

    .itemcontainer-btnbox {
        display: flex;
        justify-content: center;
    }
}
