@use '../abstracts/' as *;

.logo {
    font-size: 3rem;
    font-weight: 800;
    color: $fontWhite;

    html[data-mode="light"] & {
        color: $fontBlack;
    }

    @include w768 {
        font-size: 1.8rem;
    }
}