@use "../abstracts/" as *;

.item-title {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: -0.03em;
    color: $fontWhite;
    margin-bottom: 3rem;

    html[data-mode="light"] & {
        color: $fontBlack;
    }

    .result-page & {
        font-size: 2rem;
    }
}

// 영화 관련 텍스트
.movie-title {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0.1rem;
    color: $fontWhite;
    margin-bottom: 1.5rem;
    text-transform: uppercase;

    html[data-mode="light"] & {
        color: $fontBlack;
    }

    .main-page & {

        @include w768 {
            font-size: 4.5rem;
            word-break: break-all;
        }
    }

    .movie-detailsBox & {
        font-size: 6rem;
        color: $fontBlack;

        html[data-mode="dark"] & {
            color: $fontWhite;
        }

        @include w1500 {
            font-size: 4rem;
        }

        @include w768 {
            font-size: 2.6rem;
        }

        @include w430 {
            font-size: 2.3rem;
            word-break: break-all;
        }
    }

    .result-informationBox & {
        font-size: 2.3rem;
        color: $fontBlack;
        word-break: break-all;
        margin-bottom: 2.5rem;
        letter-spacing: -0.03rem;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        html[data-mode="dark"] & {
            color: $fontWhite;
        }

        @include w768 {
            font-size: 1.8rem;
        }
    }

    @include w1240 {
        font-size: 6.5rem;
    }
}

.movie-category {
    font-size: 1.6rem;
    font-weight: 400;
    color: $fontWhite;
    // margin-bottom: 3.5rem;
    display: block;

    html[data-mode="light"] & {
        color: $fontBlack;
    }
}

.movie-description {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5;
    color: $fontWhite;
    margin-bottom: 3.5rem;

    html[data-mode="light"] & {
        color: $fontBlack;
    }

    .main-page & {

        @include w768 {
            font-size: 1.5rem;
        }
    }

    .movie-detailsBox & {
        width: 70rem;
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 0;

        @include w1920 {
            width: 100%;
        }
    }
}

.movie-text {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3;
    color: $fontWhite;

    html[data-mode="light"] & {
        color: $fontBlack;
    }

    .result-page & {

        html[data-mode="dark"] & {
            color: $fontBlack;
        }
    }

    .informationBox-subList & {

        html[data-mode="dark"] & {
            color: $fontWhite;
        }
    }
}

.movie-infoTitle {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.3;
    color: #606060;

    @include w768 {
        width: 100%;
    }
}

.type-text {
    padding: 0.5rem 1rem;
    background-color: $darkModebg;
    font-size: 1.6rem;
    font-weight: 700;
    color: $fontWhite;
    border-radius: 0.5rem;
    text-transform: uppercase;
    letter-spacing: -0.03rem;

    &-movie {
        background-color: #f00;
    }

    &-series {
        background-color: #ffd011;
    }

    &-episode {
        background-color: #1118ff;
    }

    @include w768 {
        font-size: 1.2rem;
    }
}

.movie-year {
    padding: 0.5rem 1rem;
    background-color: $darkModebg;
    font-size: 1.6rem;
    font-weight: 700;
    color: $fontWhite;
    border-radius: 0.5rem;
    letter-spacing: -0.03rem;

    html[data-mode="dark"] & {
        background-color: $bgwhite;
        color: $fontBlack;
    }

    @include w768 {
        font-size: 1.2rem;
    }
}

.detail-text {
    font-size: 1.6rem;
    font-weight: 700;
    color: $fontWhite;
    letter-spacing: -0.03rem;
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;

    html[data-mode="light"] & {
        color: $fontBlack;
    }
}

.option-title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.3;
    color: $fontWhite;
    text-align: center;

    html[data-mode="light"] & {
        color: $fontBlack;
    }

    @include w430 {
        font-size: 1.2rem;
    }
}