@use '../abstracts/' as *;

.utility-list {
    display: flex;
    gap: 2rem;
    align-items: center;

    @include w430 {
        width: 100%;
        justify-content: space-between;

        .utility-item {
            
            &:first-of-type {
                width: 100%;
            }

            &:last-of-type {
                position: absolute;
                top: 3rem;
                right: 1.5rem;
            }
        }
    }
}