<div class="inner">
    <h1 class="logo">
        <a href="/movieDeploy/" aria-label="5TMOVIE">5TMOVIE</a>
    </h1>
    
    <h2 class="a11y-hidden">유틸리티</h2>
    <div class="utility">
        <ul class="utility-list">
            <h2 class="a11y-hidden">검색창</h2>
            <li class="utility-item">
                <form class="form">
                    <select class="form-select select-year"></select>
    
                    <select class="form-select select-type">
                        <option value="all">전체</option>
                        <option value="movie">영화</option>
                        <option value="series">시리즈</option>
                        <option value="episode">에피소드</option>
                    </select>
    
                    <div class="filter-box">
                        <input type="text" class="form-input input">
                        <button type="submit" class="btn-search" aria-label="검색"></button>
                    </div>
                </form>
            </li>
            
            <li class="utility-item">
                <button type="button" class="btn-change" aria-label="모드 변경"></button>
            </li>
        </ul>
    </div>
</div>